<h2>{{ 'AUTH.LOGIN' | translate }}</h2>

<form [formGroup]="loginForm" (ngSubmit)="submit()">
  
  <input 
    type="email" 
    formControlName="email" 
    [placeholder]="'AUTH.PLACEHOLDER_EMAIL' | translate" 
  />
  
  <input 
    type="password" 
    formControlName="password" 
    [placeholder]="'AUTH.PLACEHOLDER_PASSWORD' | translate" 
  />

  <button type="submit" [disabled]="loginForm.invalid">
    {{ 'AUTH.LOGIN_BUTTON' | translate }}
  </button>

</form>

@if (error) {
  <div class="error-message">
    {{ error }}
  </div>
}