<div class="login-container">
  <h2>{{ 'AUTH.LOGIN' | translate }}</h2>

  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <div class="input-group">
      <input 
        type="email" 
        formControlName="email" 
        [placeholder]="'AUTH.PLACEHOLDER_EMAIL' | translate" 
      />
      @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
        <div class="validation-message show">
          {{ 'AUTH.VALIDATION_EMAIL' | translate }}
        </div>
      }
    </div>
    
    <div class="input-group">
      <input 
        type="password" 
        formControlName="password" 
        [placeholder]="'AUTH.PLACEHOLDER_PASSWORD' | translate" 
      />
      @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
        <div class="validation-message show">
          {{ 'AUTH.VALIDATION_PASSWORD' | translate }}
        </div>
      }
    </div>

    <button type="submit" [disabled]="loginForm.invalid">
      <span>{{ 'AUTH.LOGIN_BUTTON' | translate }}</span>
    </button>
  </form>

  @if (error) {
    <div class="error-message">
      {{ error }}
    </div>
  }

</div>