.disabled-by-inactive {
  position: relative;
  
  &.router-link-active {
    background-color: #ccc !important;
    color: #666 !important;
  }
  
  &[type="button"] {
    background-color: #e0e0e0 !important;
    border-color: #bdbdbd !important;
    color: #9e9e9e !important;
  }
  
  &:hover, &:focus {
    transform: none !important;
    box-shadow: none !important;
    outline: none !important;
  }
}